<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <table border="1">
      <tr>
        <th>Registration number</th>
        <th>Name</th>
        <th>Branch</th>
        <th>mobile number</th>
        <th>Email - id</th>
        <th>Marks</th>
      </tr>
      <% rows.forEach((row)=>{ %>
      <tr>
        <td><%= row.regno %></td>
        <td><%= row.name %></td>
        <td><%= row.branch %></td>
        <td><%= row.mobile_no %></td>
        <td><%= row.email_id %></td>
        <td><%= row.marks %></td>
      </tr>
      <% }) %>
    </table>
  </body>
</html>
